.ch-carousel {
    max-width: 500px;
    overflow: auto;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.ch-carousel img{
    margin-right: 10px;
    width: 150px;
    height: 150px;
}